@charset "UTF-8";
@font-face {
  font-family: "NotoSansKR";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local("Noto Sans Kr"), local("Noto Sans Kr");
  src: url("../font/NotoSansCJKkr-DemiLight.woff") format("woff2"), url("../font/NotoSansCJKkr-DemiLight.woff2") format("woff"), url("../font/NotoSansCJKkr-DemiLight.otf") format("opentype");
  text-rendering: optimizeLegibility;
}
@font-face {
  font-family: "NotoSansKR";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Noto Sans Kr"), local("Noto Sans Kr");
  src: url("../font/NotoSansKR-Regular.woff2") format("woff2"), url("../font/NotoSansKR-Regular.woff") format("woff"), url("../font/NotoSansKR-Regular.otf") format("opentype");
  text-rendering: optimizeLegibility;
}
@font-face {
  font-family: "NotoSansKR";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local("Noto Sans Kr"), local("Noto Sans Kr");
  src: url("../font/NotoSansKR-Medium.woff2") format("woff2"), url("../font/NotoSansKR-Medium.woff") format("woff"), url("../font/NotoSansKR-Medium.otf") format("opentype");
  text-rendering: optimizeLegibility;
}
@font-face {
  font-family: "NotoSansKR";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("Noto Sans Kr"), local("Noto Sans Kr");
  src: url("../font/NotoSansKR-Bold.woff2") format("woff2"), url("../font/NotoSansKR-Bold.woff") format("woff"), url("../font/NotoSansKR-Bold.otf") format("opentype");
  text-rendering: optimizeLegibility;
}
/* basic-reset */
*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  -webkit-text-size-adjust: 100%;
}

body {
  -webkit-text-size-adjust: none;
  word-break: break-word;
  word-wrap: break-word;
  width: 100vw;
  overflow-x: hidden;
}

body, input, select, textarea, button, pre {
  font-family: "NotoSansKR", "Roboto", "Malgun Gothic", "맑은 고딕", sans-serif;
  color: #000;
  font-weight: 400;
  line-height: 1.5;
  font-size: 14px;
  letter-spacing: -1px;
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
textarea,
p,
blockquote,
th,
td,
input,
select,
textarea,
button,
figure,
figcaption {
  margin: 0;
  padding: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

summary {
  display: list-item;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
}

fieldset,
img {
  border: 0 none;
  vertical-align: middle;
}

dl,
ul,
ol,
menu,
li {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

em {
  font-style: normal;
}

b,
strong {
  font-weight: 700;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

textarea {
  overflow: auto;
  -webkit-appearance: none;
  resize: vertical;
  font-size: 100%;
}

input,
select {
  -webkit-appearance: none;
  font-family: inherit;
  border-radius: 0;
  font-size: 100%;
  outline: none;
}

button {
  font-family: inherit;
  font-size: 100%;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  color: inherit;
  font-weight: inherit;
}

button[disabled],
input[disabled] {
  cursor: default;
}

caption {
  display: none;
}

address,
caption,
cite,
code,
dfn,
em,
var {
  font-style: normal;
}

a {
  color: inherit;
  text-decoration: none;
}

input[type=text],
input[type=password],
input[type=submit],
input[type=search],
input[type=number],
input[type=tel],
input[type=email] {
  -webkit-appearance: none;
}

input:checked[type=checkbox] {
  background-color: #666;
  -webkit-appearance: checkbox;
}

input:checked[type=checkbox] {
  -webkit-appearance: checkbox;
}

input[type=search] {
  -webkit-appearance: textfield;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button,
input {
  overflow: visible;
}

button,
[type=button],
[type=submit],
[type=reset],
[type=file] {
  -webkit-appearance: button;
  border-radius: 0;
  cursor: pointer;
}

button {
  font-family: inherit;
  font-size: 100%;
}

input:focus,
textarea:focus {
  outline: none;
}

::-webkit-input-placeholder {
  vertical-align: middle;
  color: #bbb !important;
  font-weight: 400;
}

:-webkit-input-placeholder {
  vertical-align: middle;
  color: #bbb !important;
  font-weight: 400;
}

::-moz-placeholder {
  vertical-align: middle;
  color: #bbb !important;
  font-weight: 400;
}

:-moz-placeholder {
  vertical-align: middle;
  color: #bbb !important;
  font-weight: 400;
}

:-ms-input-placeholder {
  vertical-align: middle;
  color: #bbb !important;
  font-weight: 400;
}

input[type=checkbox],
input[type=radio] {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

#accessibility, .blind {
  overflow: hidden;
  position: absolute;
  display: inline-block;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  clip: rect(0, 0, 0, 0);
  z-index: -1;
}

/* common */
.blind {
  overflow: hidden;
  position: absolute;
  display: inline-block;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  clip: rect(0, 0, 0, 0);
  z-index: -1;
}

.wrap {
  width: 100vw;
  overflow-x: hidden;
  background-color: #fafafa;
}

.container {
  position: relative;
  max-width: 1920px;
  margin: 0 auto;
}

.skip__menu {
  position: absolute;
  top: 0px;
  left: 0;
  width: 100%;
  text-indent: -9999px;
  height: 0px;
}
.skip__menu__li {
  width: 0;
  height: 0;
}
.skip__menu__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 35px;
  text-indent: 0;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  background-color: #888;
}
.skip__menu__link:hover, .skip__menu__link:focus, .skip__menu__link:active {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 999990;
}

.header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 100;
  width: 100%;
  height: 100px;
}
.header_inner {
  padding: 20px;
  width: 100%;
}
.header_dep1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header_logo {
  width: 165px;
  height: 60px;
}
.header_logo_link {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 3.5rem;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.05);
  background-color: #fff;
  box-shadow: none;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 60px 24px;
  background-image: url(../image/img_logo_cms.jpg);
}
.header_lnb {
  border-radius: 3.5rem;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.05);
  background-color: #fff;
}
.header_lnb_list {
  display: flex;
  align-items: center;
  padding: 0 55px;
}
.header_lnb_li.is-active .header_lnb_dep2 {
  display: block;
}
.header_lnb_link {
  display: block;
  padding: 15px 20px;
}
.header_lnb_link .txt {
  font-size: 20px;
}
.header_lnb_dep2 {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  padding-top: 100px;
  z-index: -1;
  background-color: #fff;
}
.header_lnb_dep2_list {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding: 40px 0;
}
.header_lnb_dep2_li {
  padding-left: 20px;
}
.header_lnb_dep2_li:first-child {
  padding-left: 0;
}
.header_lnb_dep2_link {
  display: block;
  padding-bottom: 20px;
  min-width: 200px;
}
.header_lnb_dep2_link .txt {
  font-size: 20px;
  font-weight: 500;
}
.header_lnb_dep3_li {
  padding-top: 10px;
}
.header_lnb_dep3_li:first-child {
  padding-top: 0;
}
.header_lnb_dep3_link {
  display: block;
}
.header_lnb_dep3_link .txt {
  font-size: 16px;
}
.header_lnb_dep3_link:hover, .header_lnb_dep3_link:focus, .header_lnb_dep3_link:active {
  color: #0064dd;
}
.header_util {
  display: flex;
  align-items: center;
  gap: 20px;
}
.header_util [class^=header_util_item] > button {
  display: block;
}
.header_util_item_login .btn_util_login {
  border-radius: 3.5rem;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.05);
  background-color: #fff;
  padding: 15px 30px;
}
.header_util_item_login .btn_util_login .txt {
  display: flex;
  align-items: center;
  font-size: 20px;
}
.header_util_item_login .btn_util_login .txt::after {
  content: "";
  display: block;
  clear: both;
  content: ">";
  padding-left: 15px;
  font-size: inherit;
}
.header_util_item_gnb .btn_util_gnb {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #0064dd;
  background-position: center;
  background-size: 24px 24px;
  background-repeat: no-repeat;
  background-image: url(../image/ico_ham.png);
}
.header_util_item_gnb .btn_util_gnb.is-open {
  background-image: url(../image/ico_closed.png);
}
.header_util_item_gnb .btn_util_gnb.is-open + .gnb {
  display: block;
}
.header_util_item_gnb .btn_util_login {
  display: none;
}

.gnb {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  padding-top: 100px;
  z-index: -1;
  background-color: #fff;
}
.gnb_list {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding: 40px 0;
}
.gnb_li {
  min-width: 200px;
}
.gnb_li.li_guide .btn_gnb_title::before {
  background-color: #feeadd;
}
.gnb_li.li_apply .btn_gnb_title::before {
  background-color: #f6e0df;
}
.gnb_li.li_support .btn_gnb_title::before {
  background-color: #f5e0f6;
}
.gnb_li.li_mypage .btn_gnb_title::before {
  background-color: #d9d5ff;
}
.gnb .btn_gnb_title {
  display: block;
  position: relative;
  margin-bottom: 20px;
  padding-left: 50px;
  width: 100%;
  text-align: left;
  pointer-events: none;
}
.gnb .btn_gnb_title::before {
  content: "";
  display: block;
  clear: both;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -20px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.gnb .btn_gnb_title .txt {
  font-weight: 500;
  font-size: 20px;
}
.gnb_dep2 {
  padding-left: 50px;
}
.gnb_dep2_tit, .gnb_dep2_link {
  display: block;
  padding-bottom: 10px;
  min-width: 200px;
  text-align: left;
}
.gnb_dep2_tit .txt, .gnb_dep2_link .txt {
  font-weight: 500;
  font-size: 16px;
}
.gnb_dep2_tit {
  display: flex;
  align-items: center;
}
.gnb_dep2_tit .txt {
  padding-right: 10px;
}
.gnb_dep2_tit::after {
  content: "";
  display: block;
  clear: both;
  content: ">";
  transform: rotate(90deg);
}
.gnb_dep2_li.is-active .gnb_dep2_tit::after {
  content: "";
  display: block;
  clear: both;
  content: ">";
  transform: rotate(-90deg);
}
.gnb_dep3 {
  overflow: hidden;
  transition: 0.5s;
}
.gnb_dep3_list {
  padding-bottom: 30px;
}
.gnb_dep3_li {
  padding-top: 10px;
}
.gnb_dep3_li:first-child {
  padding-top: 0;
}
.gnb_dep3_link {
  display: block;
}
.gnb_dep3_link .txt {
  font-size: 14px;
  color: #616161;
}
.gnb_dep3_link:hover, .gnb_dep3_link:focus, .gnb_dep3_link:active {
  color: #0064dd;
}

.sidenav {
  position: fixed;
  right: 0;
  top: 13%;
  z-index: 100;
  border-radius: 3.5rem;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.05);
  background-color: #fff;
  border-radius: 40px 0 0 40px;
}
.sidenav_inner {
  padding: 45px 20px;
}
.sidenav_li {
  margin-top: 20px;
}
.sidenav_li:first-child {
  margin-top: 0;
}
.sidenav_link {
  display: block;
  text-align: center;
}
.sidenav_link::before {
  content: "";
  display: block;
  clear: both;
  margin: 0 auto;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #f2f2f2;
}
.sidenav_link .txt {
  display: block;
  margin-top: 5px;
  font-size: 14px;
}
.sidenav_link:hover::before, .sidenav_link:focus::before, .sidenav_link:active::before {
  background-color: #828eae;
}
.sidenav .btn_pagetop {
  display: block;
  margin: 0 auto;
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% auto;
  background-image: url(../image/btn_pagetop.png);
}
.sidenav .btn_pagetop:hover, .sidenav .btn_pagetop:focus, .sidenav .btn_pagetop:active {
  background-image: url(../image/btn_pagetop_hover.png);
}

.footer {
  color: #fff;
  background-color: #292F32;
}
.footer_inner {
  margin: 0 auto;
  padding: 40px 120px 60px;
  max-width: 1920px;
  width: 100%;
}
.footer_top {
  padding-bottom: 30px;
  border-bottom: 1px solid #424242;
}
.footer_nav_list {
  display: flex;
  align-items: center;
}
.footer_nav_li {
  margin-left: 40px;
}
.footer_nav_li:first-child {
  margin-left: 0;
}
.footer_nav_li.li_policy {
  color: #75B4FF;
}
.footer_nav_link {
  display: flex;
  align-items: center;
  padding: 20px 0;
}
.footer_nav_link[target=_blank]:after {
  content: "";
  display: block;
  clear: both;
  margin-left: 5px;
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
  background-image: url(../image/ico_new_win.svg);
}
.footer_nav_link:hover .txt, .footer_nav_link:focus .txt, .footer_nav_link:active .txt {
  text-decoration: underline;
}
.footer_btm {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 30px 0;
}
.footer_inform {
  display: flex;
  align-items: center;
  gap: 50px;
}
.footer_inform .footer_logo {
  width: 140px;
  height: 42px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% auto;
  background-image: url(../image/img_footer_logo_cms.png);
}
.footer_btn {
  display: flex;
  align-items: center;
  gap: 20px;
  position: absolute;
  right: 0;
  top: -80px;
}
.footer_btn_link {
  display: inline-flex;
  align-items: center;
  padding: 0 20px;
  height: 40px;
  border: 1px solid #fff;
}
.footer_btn_link:hover .txt, .footer_btn_link:focus .txt, .footer_btn_link:active .txt {
  text-decoration: underline;
}
.footer .familysite {
  position: relative;
}
.footer .familysite .txt {
  display: flex;
  align-items: center;
  padding: 0 40px 0 20px;
  width: 100%;
  height: 40px;
  text-align: left;
}
.footer .familysite .btn_familysite {
  position: relative;
  width: 220px;
  border: 1px solid #fff;
}
.footer .familysite .btn_familysite::before {
  content: "";
  display: block;
  clear: both;
  content: ">";
  position: absolute;
  right: 20px;
  top: 50%;
  margin-top: -10px;
  color: #e0e0e0;
  font-size: 14px;
  transform: rotate(-90deg) scaleY(1.5);
}
.footer .familysite_list_wrap {
  display: none;
  position: absolute;
  z-index: 5;
  left: 0;
  bottom: 100%;
  width: 100%;
  border: 1px solid #fff;
  border-width: 1px 1px 0;
  background-color: #292F32;
}
.footer .familysite_li_link:hover, .footer .familysite_li_link:focus, .footer .familysite_li_link:active {
  text-decoration: underline;
}
.footer .familysite.is-active .familysite_list_wrap {
  display: block;
}
.footer_cs_title {
  display: block;
  padding-bottom: 10px;
  font-size: 16px;
  font-weight: 400;
}
.footer_cs_conts {
  display: flex;
  align-items: baseline;
}
.footer_cs_conts .txt {
  display: block;
  font-size: 12px;
  line-height: 1;
}
.footer_cs_conts .txt.num {
  margin-top: -5px;
  padding-right: 10px;
  font-size: 33px;
  color: #75B4FF;
}
.footer_copyright {
  flex: none;
  margin-top: 40px;
  width: 100%;
}
.footer_copyright .txt {
  font-size: 14px;
  color: #9E9E9E;
}

.container {
  padding-top: 120px;
}

.section {
  padding-bottom: 100px;
}
.section_inner {
  position: relative;
  padding: 0 120px;
}
.section_title {
  text-align: center;
}
.section_title .title {
  display: block;
  width: 100%;
  font-size: 46px;
}
.section_title .title_sub {
  display: block;
  width: 100%;
  font-size: 22px;
}
.section .sec_row {
  display: flex;
}
.swiper_ctrler_inner {
  display: flex;
  align-items: center;
}

.swiper-pagination {
  position: relative;
  font-size: 0;
}
.swiper-pagination-bullet {
  margin: 0 6px;
  width: 9px;
  height: 9px;
  background-color: #fff;
  opacity: 0.5;
}
.swiper-pagination-bullet-active {
  width: 30px;
  opacity: 1;
  border-radius: 50px;
}

.btn_swiperpause {
  display: block;
  padding: 10px;
}
.btn_swiperpause::before {
  content: "";
  display: block;
  clear: both;
  width: 9px;
  height: 12px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% auto;
  background-image: url(../image/ico_pause.png);
}
.btn_swiperpause.play::before {
  background-image: url(../image/ico_pauseplay.png);
}

.btn_primary {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: 220px;
  height: 55px;
  border-radius: 10px;
  background-color: #fff;
  color: #515e78;
  font-size: 16px;
  transition: 0.3s;
}
.btn_primary .txt {
  position: relative;
  padding-right: 30px;
}
.btn_primary .txt::before {
  content: "";
  display: block;
  clear: both;
  position: absolute;
  top: 50%;
  right: 0;
  width: 20px;
  height: 1px;
  background-color: #515e78;
}
.btn_primary .txt::after {
  content: "";
  display: block;
  clear: both;
  content: ">";
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%) scaleY(1.5);
  color: #515e78;
}
.btn_primary:hover, .btn_primary:focus, .btn_primary:active {
  color: #fff;
  background-color: #0064dd;
}
.btn_primary:hover .txt, .btn_primary:focus .txt, .btn_primary:active .txt {
  padding-right: 60px;
}
.btn_primary:hover .txt::before, .btn_primary:focus .txt::before, .btn_primary:active .txt::before {
  width: 50px;
  background-color: #fff;
}
.btn_primary:hover .txt::after, .btn_primary:focus .txt::after, .btn_primary:active .txt::after {
  color: #fff;
}

.sec_kv .section_inner {
  padding-left: 0;
}
.sec_kv .sec_row {
  justify-content: space-between;
}
.sec_kv .col_kv {
  width: 68%;
}
.sec_kv .col_board {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30%;
  gap: 30px;
}
.sec_kv .swiper_ctrler {
  position: relative;
  z-index: 10;
}

.item_kvbanner {
  height: 100%;
}

.swiper_kvbanner {
  position: relative;
  height: 100%;
}
.swiper_kvbanner_wrap {
  height: 100%;
  border-radius: 0 25px 25px 0;
}
.swiper_kvbanner_wrap.event01 {
  background-color: #23c197;
}
.swiper_kvbanner_wrap.event02 {
  background-color: #f8a16c;
}
.swiper_kvbanner_wrap.event03 {
  background-color: #0064dd;
}
.swiper_kvbanner_link {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
}
.swiper_kvbanner_img_wrap img {
  display: block;
  width: 100%;
  height: 100%;
}
.swiper_kvbanner .swiper_ctrler {
  position: absolute;
  left: 10%;
  bottom: 30px;
}

.cms_easy {
  border-radius: 3.5rem;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.05);
  background-color: #fff;
  padding: 50px 30px;
  text-align: center;
  border-radius: 30px;
}
.cms_easy .sec_item_title .sub_title,
.cms_easy .sec_item_title .title {
  display: block;
  font-size: 20px;
  line-height: 1;
}
.cms_easy .sec_item_title .title {
  margin-top: 10px;
  font-size: 30px;
}
.cms_easy_list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 40px;
}
.cms_easy_li {
  width: 31%;
}
.cms_easy_link {
  display: block;
}
.cms_easy_link::before {
  content: "";
  display: block;
  clear: both;
  display: inline-block;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #828eae;
}
.cms_easy_cont [class^=txt_] {
  display: block;
  font-size: 18px;
  color: #515e78;
}
.item_kvboard {
  border-radius: 3.5rem;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.05);
  background-color: #fff;
  padding: 50px 30px 20px;
  box-shadow: none;
  border-radius: 30px;
  background-color: #d8eaff;
}
.item_kvboard .sec_item_title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 20px;
}
.item_kvboard .sec_item_title .title {
  display: flex;
  align-items: center;
  font-size: 20px;
  font-weight: 400;
}
.item_kvboard .sec_item_title .title::before {
  content: "";
  display: block;
  clear: both;
  margin-right: 10px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #91c2ff;
}
.item_kvboard .swiper_kvboard {
  overflow: hidden;
}
.item_kvboard .swiper_kvboard_link {
  display: block;
}
.item_kvboard .swiper_kvboard_cont_wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.item_kvboard .swiper_kvboard_cont_wrap [class^=txt_] {
  display: block;
}
.item_kvboard .swiper_kvboard_cont_wrap .txt_title {
  position: relative;
  padding-left: 15px;
  width: 70%;
  font-size: 20px;
  font-weight: 500;
  word-break: keep-all;
  overflow: hidden;
  max-width: 100%;
  text-overflow: ellipsis;
  vertical-align: middle;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  white-space: normal;
}
.item_kvboard .swiper_kvboard_cont_wrap .txt_title::before {
  content: "";
  display: block;
  clear: both;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -3px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #000;
}
.item_kvboard .swiper_kvboard_cont_wrap .txt_date {
  font-size: 16px;
  color: #4e4e4e;
  opacity: 0.8;
}
.item_kvboard .swiper_kvboard .swiper_ctrler {
  padding-top: 30px;
}
.item_kvboard .swiper_kvboard .swiper_ctrler_inner {
  width: 100%;
  justify-content: center;
}
.item_kvboard .swiper_kvboard .swiper_ctrler .swiper-pagination-bullet {
  background-color: #0064dd;
}
.item_kvboard .swiper_kvboard .swiper_ctrler .btn_swiperpause::before {
  background-image: url(../image/ico_pause_blue.png);
}
.item_kvboard .swiper_kvboard .swiper_ctrler .btn_swiperpause.play::before {
  background-image: url(../image/ico_pauseplay_blue.png);
}

.cms_intro_list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  padding-top: 50px;
}
.cms_intro_li {
  flex: 1;
  text-align: center;
}
.cms_intro_li.li01 .cms_intro_conts {
  background-color: #dff9f2;
}
.cms_intro_li.li01 .cms_intro_conts::before {
  background-image: url(../image/img_cms_intro01.png);
}
.cms_intro_li.li01 .cms_intro_conts em {
  color: #23c197;
}
.cms_intro_li.li02 .cms_intro_conts {
  background-color: #fef5da;
}
.cms_intro_li.li02 .cms_intro_conts::before {
  background-image: url(../image/img_cms_intro02.png);
}
.cms_intro_li.li02 .cms_intro_conts em {
  color: #f46d19;
}
.cms_intro_li.li03 .cms_intro_conts {
  background-color: #f2f4f8;
}
.cms_intro_li.li03 .cms_intro_conts::before {
  background-image: url(../image/img_cms_intro03.png);
}
.cms_intro_li.li03 .cms_intro_conts em {
  color: #2614f3;
}
.cms_intro_conts {
  position: relative;
  padding: 270px 0 70px;
  font-size: 26px;
  border-radius: 20px;
}
.cms_intro_conts::before {
  content: "";
  display: block;
  clear: both;
  position: absolute;
  left: 50%;
  top: 0;
  margin-left: -271px;
  width: 543px;
  height: 271px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% auto;
}
.cms_intro_conts em {
  font-weight: 700;
}
.cms_intro_btn_wrap {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.sec_banner .section_inner {
  padding: 0;
}
.sec_banner .sec_col {
  flex: 1;
}
.sec_banner .sec_item {
  position: relative;
  padding: 55px 120px;
}
.sec_banner .sec_item::before {
  content: "";
  display: block;
  clear: both;
  position: absolute;
  right: -4%;
  bottom: 0;
  width: 520px;
  height: 323px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% auto;
}
.sec_banner .sec_item_title {
  position: relative;
  z-index: 3;
}
.sec_banner .sec_item_title .title {
  display: block;
  width: 100%;
  font-size: 34px;
}
.sec_banner .sec_item_title .sub_title {
  display: block;
  padding: 5px 0 20px;
  width: 100%;
  font-size: 16px;
  color: #666;
}
.sec_banner .sec_item_title .sub_title br {
  display: none;
}
.sec_banner .sec_item.item_experi {
  background-color: #d8eaff;
}
.sec_banner .sec_item.item_experi::before {
  background-image: url(../image/img_cms_banner01.png);
}
.sec_banner .sec_item.item_online {
  background-color: #e5e2ff;
}
.sec_banner .sec_item.item_online::before {
  content: "";
  display: block;
  clear: both;
  background-image: url(../image/img_cms_banner02.png);
}

.sec_partner {
  padding: 0 120px;
}
.sec_partner .section_inner {
  padding: 50px 0;
  border-radius: 30px;
  background-color: #f2f4f8;
}

.swiper_partner {
  overflow: hidden;
}
.swiper_partner_wrap {
  position: relative;
  margin-top: 50px;
  padding: 0 50px;
}
.swiper_partner_wrap .swiper_ctrler {
  display: block;
  margin: 0 auto;
  max-width: 700px;
  width: 100%;
}
.swiper_partner_wrap .swiper_ctrler .swiper-scrollbar {
  display: block;
  margin-top: 50px;
  width: 100%;
  height: 4px;
  opacity: 1 !important;
}
.swiper_partner_wrap .swiper_ctrler .swiper-button-prev,
.swiper_partner_wrap .swiper_ctrler .swiper-button-next {
  color: #616161;
}
.swiper_partner_wrap .swiper_ctrler .swiper-pagination {
  width: 100%;
  height: 4px;
}
.swiper_partner .swiper-slide {
  margin: 0 10px;
  width: calc(20% - 20px);
}
.swiper_partner_link {
  display: block;
  width: 100%;
  border-radius: 30px;
  background-color: #fff;
  overflow: hidden;
}
.swiper_partner_link.link01 .txt_title::after {
  background-image: url(../image/img_cms_partner01.png);
}
.swiper_partner_link.link02 .txt_title::after {
  background-image: url(../image/img_cms_partner02.png);
}
.swiper_partner_link.link03 .txt_title::after {
  background-image: url(../image/img_cms_partner03.png);
}
.swiper_partner_link.link04 .txt_title::after {
  background-image: url(../image/img_cms_partner04.png);
}
.swiper_partner_link.link05 .txt_title::after {
  background-image: url(../image/img_cms_partner05.png);
}
.swiper_partner_link:hover.link01, .swiper_partner_link:focus.link01, .swiper_partner_link:active.link01 {
  background-color: #23c197;
}
.swiper_partner_link:hover.link01 .swiper_partner_cont_wrap .txt_cont, .swiper_partner_link:focus.link01 .swiper_partner_cont_wrap .txt_cont, .swiper_partner_link:active.link01 .swiper_partner_cont_wrap .txt_cont {
  background-color: rgba(26, 155, 121, 0.5);
}
.swiper_partner_link:hover.link02, .swiper_partner_link:focus.link02, .swiper_partner_link:active.link02 {
  background-color: #088ec4;
}
.swiper_partner_link:hover.link02 .swiper_partner_cont_wrap .txt_cont, .swiper_partner_link:focus.link02 .swiper_partner_cont_wrap .txt_cont, .swiper_partner_link:active.link02 .swiper_partner_cont_wrap .txt_cont {
  background-color: rgba(3, 126, 175, 0.5);
}
.swiper_partner_link:hover.link03, .swiper_partner_link:focus.link03, .swiper_partner_link:active.link03 {
  background-color: #0ac7cc;
}
.swiper_partner_link:hover.link03 .swiper_partner_cont_wrap .txt_cont, .swiper_partner_link:focus.link03 .swiper_partner_cont_wrap .txt_cont, .swiper_partner_link:active.link03 .swiper_partner_cont_wrap .txt_cont {
  background-color: rgba(7, 171, 175, 0.5);
}
.swiper_partner_link:hover.link04, .swiper_partner_link:focus.link04, .swiper_partner_link:active.link04 {
  background-color: #de5c0b;
}
.swiper_partner_link:hover.link04 .swiper_partner_cont_wrap .txt_cont, .swiper_partner_link:focus.link04 .swiper_partner_cont_wrap .txt_cont, .swiper_partner_link:active.link04 .swiper_partner_cont_wrap .txt_cont {
  background-color: rgba(196, 79, 7, 0.5);
}
.swiper_partner_link:hover.link05, .swiper_partner_link:focus.link05, .swiper_partner_link:active.link05 {
  background-color: #4c3df5;
}
.swiper_partner_link:hover.link05 .swiper_partner_cont_wrap .txt_cont, .swiper_partner_link:focus.link05 .swiper_partner_cont_wrap .txt_cont, .swiper_partner_link:active.link05 .swiper_partner_cont_wrap .txt_cont {
  background-color: rgba(48, 34, 208, 0.49);
}
.swiper_partner_link:hover .swiper_partner_cont_wrap .txt_title, .swiper_partner_link:focus .swiper_partner_cont_wrap .txt_title, .swiper_partner_link:active .swiper_partner_cont_wrap .txt_title {
  transform: scale(0.8) translateY(-10px);
  color: #fff;
}
.swiper_partner_link:hover .swiper_partner_cont_wrap .txt_title::after, .swiper_partner_link:focus .swiper_partner_cont_wrap .txt_title::after, .swiper_partner_link:active .swiper_partner_cont_wrap .txt_title::after {
  background-color: #fff;
}
.swiper_partner_link:hover .swiper_partner_cont_wrap .txt_cont, .swiper_partner_link:focus .swiper_partner_cont_wrap .txt_cont, .swiper_partner_link:active .swiper_partner_cont_wrap .txt_cont {
  opacity: 1;
}
.swiper_partner_cont_wrap {
  position: relative;
  text-align: center;
  padding: 40px 0;
}
.swiper_partner_cont_wrap .txt_title, .swiper_partner_cont_wrap .txt_cont {
  transition: 0.5s;
}
.swiper_partner_cont_wrap .txt_title {
  display: block;
  position: relative;
  font-weight: 700;
  font-size: 24px;
  transform-origin: top center;
}
.swiper_partner_cont_wrap .txt_title::after {
  content: "";
  display: block;
  clear: both;
  margin: 0 auto;
  margin-top: 20px;
  width: 205px;
  height: 205px;
  border-radius: 50%;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
  background-color: #fff;
}
.swiper_partner_cont_wrap .txt_cont {
  position: absolute;
  display: block;
  opacity: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 25px 0;
  color: #fff;
  backdrop-filter: blur(8px);
  background-color: rgba(26, 155, 121, 0.5);
}
.swiper_partner_cont_wrap .txt_cont_title {
  display: block;
  font-size: 16px;
  font-weight: 700;
}
.swiper_partner_cont_wrap .txt_cont_inform {
  display: block;
  margin-top: 10px;
  font-size: 14px;
}

.sec_notiboard {
  margin-top: 100px;
}
.sec_notiboard .sec_col {
  border-radius: 20px;
}
.sec_notiboard .sec_col.col_bbs {
  width: 55%;
  background-color: #f2f4f8;
}
.sec_notiboard .sec_col.col_cs {
  flex: 1 0 auto;
  margin-left: 20px;
  min-height: 200px;
  background-color: #d8eaff;
}

.cms_bbs_wrap {
  display: flex;
  align-items: flex-start;
  gap: 40px;
  padding: 40px;
  width: 100%;
}
.cms_bbs_box {
  flex: 1;
  overflow: hidden;
}
.cms_bbs_box_title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0 30px;
  border-bottom: 1px solid #616161;
}
.cms_bbs_box_title .title {
  font-size: 26px;
}
.cms_bbs_list {
  padding-top: 25px;
}
.cms_bbs_link {
  display: block;
  padding: 10px 0;
  width: 100%;
}
.cms_bbs_conts {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cms_bbs_conts .conts_title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(100% - 80px);
}
.cms_bbs_conts .conts_title .txt {
  display: block;
  width: calc(100% - 50px);
  font-size: 16px;
  color: #000;
  overflow: hidden;
  max-width: 100%;
  text-overflow: ellipsis;
  vertical-align: middle;
  display: inline-block;
  white-space: nowrap;
}
.cms_bbs_conts .conts_title .label_new {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 20px;
  border-radius: 3px;
  font-size: 12px;
  color: #fff;
  background-color: #0064dd;
}
.cms_bbs_conts .conts_title .label_new::before {
  content: "";
  display: block;
  clear: both;
  content: "New";
  letter-spacing: 0;
}
.cms_bbs_conts .conts_date {
  display: block;
  text-align: right;
  width: 80px;
}
.cms_bbs_conts .conts_date .txt {
  display: block;
  width: 100%;
  font-size: 16px;
  color: #4e4e4e;
}

.cms_cs_wrap {
  padding: 30px 40px;
}
.cms_cs_title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cms_cs_title .title {
  display: flex;
  align-items: center;
  font-size: 26px;
  font-weight: 700;
  color: #0163e0;
}
.cms_cs_title .title::before {
  content: "";
  display: block;
  margin-right: 20px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #0163e0;
}
.cms_cs_title .btn_wrap .btn_title_link {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 10px;
  font-size: 15px;
  color: #515e78;
}
.cms_cs_title .btn_wrap .btn_title_link::before {
  content: "?";
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  font-weight: 700;
  border: 1px solid #515e78;
  background-color: transparent;
}
.cms_cs_title .btn_wrap .btn_title_link:hover::before, .cms_cs_title .btn_wrap .btn_title_link:focus::before, .cms_cs_title .btn_wrap .btn_title_link:active::before {
  border-color: #fff;
  background-color: #fff;
}
.cms_cs_body_conts .txt {
  display: block;
}
.cms_cs_body_conts.conts_noti_msg .btn_txt_call {
  font-size: 50px;
  font-weight: 700;
  color: #0163e0;
}
.cms_cs_body_conts.conts_noti_msg .txt_date {
  position: relative;
  margin-top: 20px;
  padding-left: 30px;
}
.cms_cs_body_conts.conts_noti_msg .txt_date::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #fff;
}
.cms_cs_body_conts.conts_noti_msg .txt_date .txt {
  display: block;
  font-size: 16px;
  color: #0163e0;
  line-height: 1;
}
.cms_cs_body_conts.conts_noti_msg .txt_date .txt.txt_extra {
  margin-top: 10px;
  color: #000;
}
.cms_cs_body_conts.conts_btn_area {
  padding-top: 40px;
}
.cms_cs_body_conts.conts_btn_area .conts_btn_list {
  display: flex;
  align-items: center;
  gap: 20px;
}
.cms_cs_body_conts.conts_btn_area .conts_btn_li {
  position: relative;
  flex: 1;
}
.cms_cs_body_conts.conts_btn_area .conts_btn_li::before {
  content: "";
  display: block;
  width: 100%;
  padding-bottom: 100%;
}
.cms_cs_body_conts.conts_btn_area .conts_btn_link {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  border-radius: 30px;
  background-color: #fff;
}
.cms_cs_body_conts.conts_btn_area .conts_btn_link .txt {
  display: block;
  font-size: 18px;
  text-align: center;
}
.cms_cs_body_conts.conts_btn_area .conts_btn_link .txt::before {
  content: "";
  display: block;
  margin: 0 auto 20px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #f3f5f9;
}
.cms_cs_body_conts.conts_btn_area .conts_btn_link:hover, .cms_cs_body_conts.conts_btn_area .conts_btn_link:focus, .cms_cs_body_conts.conts_btn_area .conts_btn_link:active {
  background-color: #0163e0;
}
.cms_cs_body_conts.conts_btn_area .conts_btn_link:hover .txt, .cms_cs_body_conts.conts_btn_area .conts_btn_link:focus .txt, .cms_cs_body_conts.conts_btn_area .conts_btn_link:active .txt {
  color: #fff;
}

.skooling_conts {
  padding: 0 20px;
}
.dropdown {
  display: inline-block;
  position: relative;
}
.dropdown .btn_dropdown {
  display: block;
  position: relative;
  padding-right: 35px;
  cursor: pointer;
  width: 190px;
  border-radius: 8px;
  border: 1px solid #DBD3C7;
  text-align: left;
}
.dropdown .btn_dropdown::after {
  content: ">";
  display: block;
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-35%) rotate(90deg);
  color: inherit;
  font-size: 16px;
}
.dropdown .btn_dropdown .txt {
  display: block;
  width: 100%;
  display: block;
  padding: 10px;
  font-size: 14px;
  color: #757575;
  line-height: 1;
  font-weight: 500;
}
.dropdown .btn_dropdown.is-active::after {
  transform: translateY(-45%) rotate(-90deg);
}
.dropdown .btn_dropdown.is-active + .dropdown_dep2 {
  display: block;
}
.dropdown_dep2 {
  display: none;
  position: absolute;
  left: 0;
  top: 100%;
  width: 100%;
  z-index: 2;
}
.dropdown_dep2_list {
  max-height: 250px;
  overflow-y: auto;
  border: 1px solid #DBD3C7;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  border-top: none;
}
.dropdown_dep2 .btn_dropdown_dep2 {
  display: block;
}
.dropdown_dep2 .btn_dropdown_dep2 .txt {
  display: block;
  padding: 10px;
  font-size: 14px;
  color: #757575;
  line-height: 1;
  font-weight: 500;
}

@media screen and (min-width: 769px) and (max-width: 1399px) {
  /* common */
  .container {
    max-width: 100%;
  }
  .header {
    height: 7.1428571429vw;
  }
  .header_inner {
    padding: 1.4285714286vw;
  }
  .header_logo {
    width: 11.7857142857vw;
    height: 4.2857142857vw;
  }
  .header_logo_link {
    background-size: 4.2857142857vw 1.7142857143vw;
  }
  .header_lnb_list {
    padding: 0vw 3.9285714286vw;
  }
  .header_lnb_link {
    padding: 1.0714285714vw 1.4285714286vw;
  }
  .header_lnb_link .txt {
    font-size: 1.4285714286vw;
  }
  .header_lnb_dep2 {
    padding-top: 7.1428571429vw;
  }
  .header_lnb_dep2_list {
    padding: 2.8571428571vw 0vw;
  }
  .header_lnb_dep2_li {
    padding-left: 1.4285714286vw;
  }
  .header_lnb_dep2_link {
    padding-bottom: 1.4285714286vw;
    min-width: 14.2857142857vw;
  }
  .header_lnb_dep2_link .txt {
    font-size: 1.4285714286vw;
  }
  .header_lnb_dep3_li {
    padding-top: 0.7142857143vw;
  }
  .header_lnb_dep3_link .txt {
    font-size: 1.1428571429vw;
  }
  .header_util {
    gap: 1.4285714286vw;
  }
  .header_util_item_login .btn_util_login {
    padding: 1.0714285714vw 2.1428571429vw;
  }
  .header_util_item_login .btn_util_login .txt {
    font-size: 1.4285714286vw;
  }
  .header_util_item_login .btn_util_login .txt::after {
    padding-left: 1.0714285714vw;
  }
  .header_util_item_gnb .btn_util_gnb {
    width: 4.2857142857vw;
    height: 4.2857142857vw;
    background-size: 1.7142857143vw 1.7142857143vw;
  }
  .gnb {
    padding-top: 7.1428571429vw;
  }
  .gnb_list {
    padding: 2.8571428571vw 0vw;
  }
  .gnb_li {
    min-width: 14.2857142857vw;
  }
  .gnb .btn_gnb_title {
    margin-bottom: 1.4285714286vw;
    padding-left: 3.5714285714vw;
  }
  .gnb .btn_gnb_title::before {
    margin-top: -1.4285714286vw;
    width: 2.8571428571vw;
    height: 2.8571428571vw;
  }
  .gnb .btn_gnb_title .txt {
    font-size: 1.4285714286vw;
  }
  .gnb_dep2 {
    padding-left: 3.5714285714vw;
  }
  .gnb_dep2_tit, .gnb_dep2_link {
    padding-bottom: 0.7142857143vw;
    min-width: 14.2857142857vw;
  }
  .gnb_dep2_tit .txt, .gnb_dep2_link .txt {
    font-size: 1.1428571429vw;
  }
  .gnb_dep2_tit .txt {
    padding-right: 0.7142857143vw;
  }
  .gnb_dep3_list {
    padding-bottom: 2.1428571429vw;
  }
  .gnb_dep3_li {
    padding-top: 0.7142857143vw;
  }
  .gnb_dep3_link .txt {
    font-size: 1vw;
  }
  .sidenav {
    display: none;
    border-radius: 2.8571428571vw 0vw 0vw 2.8571428571vw;
  }
  .sidenav_inner {
    padding: 3.2142857143vw 1.4285714286vw;
  }
  .sidenav_li {
    margin-top: 1.4285714286vw;
  }
  .sidenav_link::before {
    width: 2.8571428571vw;
    height: 2.8571428571vw;
  }
  .sidenav_link .txt {
    margin-top: 0.3571428571vw;
    font-size: 1vw;
  }
  .sidenav .btn_pagetop {
    width: 2.8571428571vw;
    height: 2.8571428571vw;
  }
  .footer_inner {
    padding: 2.1428571429vw 2.8571428571vw;
    max-width: 100%;
  }
  .footer_top {
    padding-bottom: 1.4285714286vw;
  }
  .footer_nav_li {
    margin-left: 2.8571428571vw;
  }
  .footer_nav_link {
    padding: 1.4285714286vw 0vw;
  }
  .footer_nav_link[target=_blank]:after {
    margin-left: 0.3571428571vw;
    width: 1.1428571429vw;
    height: 1.1428571429vw;
  }
  .footer_btm {
    display: block;
    padding: 2.1428571429vw 0vw;
  }
  .footer_inform {
    gap: 3.5714285714vw;
  }
  .footer_inform .footer_logo {
    width: 10vw;
    height: 3vw;
  }
  .footer_btn {
    gap: 1.4285714286vw;
    top: auto;
    bottom: 3.9285714286vw;
  }
  .footer_btn_link {
    padding: 0vw 1.4285714286vw;
    height: 2.8571428571vw;
  }
  .footer .familysite .txt {
    padding: 0vw 2.8571428571vw 0vw 1.4285714286vw;
    height: 2.8571428571vw;
  }
  .footer .familysite .btn_familysite {
    width: 19.2857142857vw;
  }
  .footer .familysite .btn_familysite::before {
    right: 1.4285714286vw;
    margin-top: -0.7142857143vw;
    font-size: 1vw;
  }
  .footer_cs {
    display: flex;
    align-items: center;
    margin-top: 2.1428571429vw;
    padding-top: 1.4285714286vw;
    border-top: 1px solid #424242;
  }
  .footer_cs_title {
    position: relative;
    padding-bottom: 0;
    margin-right: 0.7142857143vw;
    padding-right: 0.7142857143vw;
    font-size: 1.1428571429vw;
  }
  .footer_cs_title::before {
    content: "";
    display: block;
    clear: both;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-0.3571428571vw);
    width: 1px;
    height: 0.7142857143vw;
    background-color: #fff;
  }
  .footer_cs_conts .txt {
    font-size: 1.1428571429vw;
  }
  .footer_cs_conts .txt.num {
    margin-top: 0;
    padding-right: 0.7142857143vw;
    font-size: 1.1428571429vw;
  }
  .footer_copyright {
    margin-top: 1.4285714286vw;
  }
  .footer_copyright .txt {
    font-size: 1vw;
  }
  .container {
    padding-top: 8.5714285714vw;
  }
  .section {
    padding-bottom: 7.1428571429vw;
  }
  .section_inner {
    padding: 0vw 2.8571428571vw;
  }
  .section_title .title {
    font-size: 3.2857142857vw;
  }
  .section_title .title_sub {
    font-size: 1.5714285714vw;
  }
  .swiper-pagination-bullet {
    margin: 0vw 0.4285714286vw;
    width: 0.6428571429vw;
    height: 0.6428571429vw;
  }
  .swiper-pagination-bullet-active {
    width: 2.1428571429vw;
    border-radius: 3.5714285714vw;
  }
  .btn_swiperpause {
    padding: 0.7142857143vw;
  }
  .btn_swiperpause::before {
    width: 0.6428571429vw;
    height: 0.8571428571vw;
  }
  .btn_primary {
    min-width: 15.7142857143vw;
    height: 3.9285714286vw;
    border-radius: 0.7142857143vw;
    font-size: 1.1428571429vw;
  }
  .btn_primary .txt {
    padding-right: 2.1428571429vw;
  }
  .btn_primary .txt::before {
    width: 1.4285714286vw;
    height: 1px;
  }
  .btn_primary:hover .txt, .btn_primary:focus .txt, .btn_primary:active .txt {
    padding-right: 4.2857142857vw;
  }
  .btn_primary:hover .txt::before, .btn_primary:focus .txt::before, .btn_primary:active .txt::before {
    width: 3.5714285714vw;
  }
  .sec_kv .col_board {
    gap: 2.1428571429vw;
  }
  .swiper_kvbanner {
    position: relative;
  }
  .swiper_kvbanner_wrap {
    border-radius: 0vw 1.7857142857vw 1.7857142857vw 0vw;
  }
  .swiper_kvbanner .swiper_ctrler {
    bottom: 2.1428571429vw;
  }
  .cms_easy {
    padding: 3.5714285714vw 2.1428571429vw;
    border-radius: 2.1428571429vw;
  }
  .cms_easy .sec_item_title .sub_title,
  .cms_easy .sec_item_title .title {
    font-size: 1.4285714286vw;
  }
  .cms_easy .sec_item_title .title {
    margin-top: 0.7142857143vw;
    font-size: 2.1428571429vw;
  }
  .cms_easy_list {
    padding-top: 2.8571428571vw;
  }
  .cms_easy_link::before {
    width: 4.2857142857vw;
    height: 4.2857142857vw;
  }
  .cms_easy_cont [class^=txt_] {
    font-size: 1.2857142857vw;
  }
  .item_kvboard {
    padding: 3.5714285714vw 2.1428571429vw 1.4285714286vw;
    border-radius: 2.1428571429vw;
  }
  .item_kvboard .sec_item_title {
    padding-bottom: 1.4285714286vw;
  }
  .item_kvboard .sec_item_title .title {
    font-size: 1.4285714286vw;
  }
  .item_kvboard .sec_item_title .title::before {
    margin-right: 0.7142857143vw;
    width: 4.2857142857vw;
    height: 4.2857142857vw;
  }
  .item_kvboard .swiper_kvboard_cont_wrap .txt_title {
    padding-left: 1.0714285714vw;
    font-size: 1.4285714286vw;
  }
  .item_kvboard .swiper_kvboard_cont_wrap .txt_title::before {
    margin-top: -0.2142857143vw;
    width: 0.4285714286vw;
    height: 0.4285714286vw;
  }
  .item_kvboard .swiper_kvboard_cont_wrap .txt_date {
    font-size: 1.1428571429vw;
  }
  .item_kvboard .swiper_kvboard .swiper_ctrler {
    padding-top: 2.1428571429vw;
  }
  .cms_intro_list {
    gap: 2.1428571429vw;
    padding-top: 3.5714285714vw;
  }
  .cms_intro_conts {
    padding: 19.2857142857vw 0vw 5vw;
    font-size: 1.8571428571vw;
    border-radius: 1.4285714286vw;
  }
  .cms_intro_conts::before {
    margin-left: -19.3571428571vw;
    width: 38.7857142857vw;
    height: 19.3571428571vw;
  }
  .cms_intro_btn_wrap {
    margin-top: 3.5714285714vw;
  }
  .sec_banner .sec_item {
    padding: 2.8571428571vw;
  }
  .sec_banner .sec_item::before {
    width: 31.4285714286vw;
    height: 19.4285714286vw;
  }
  .sec_banner .sec_item_title .title {
    font-size: 2.4285714286vw;
  }
  .sec_banner .sec_item_title .sub_title {
    padding: 0.3571428571vw 0vw 1.4285714286vw;
    font-size: 1.1428571429vw;
  }
  .sec_banner .sec_item.item_online::before {
    right: -8%;
  }
  .sec_partner {
    padding: 0vw 2.8571428571vw;
  }
  .sec_partner .section_inner {
    padding: 3.5714285714vw 0vw;
    border-radius: 2.1428571429vw;
  }
  .swiper_partner_wrap {
    margin-top: 3.5714285714vw;
    padding: 0vw 3.5714285714vw;
  }
  .swiper_partner_wrap .swiper_ctrler {
    max-width: 50vw;
  }
  .swiper_partner_wrap .swiper_ctrler .swiper-scrollbar {
    margin-top: 3.5714285714vw;
    height: 4px;
  }
  .swiper_partner_wrap .swiper_ctrler .swiper-pagination {
    height: 4px;
  }
  .swiper_partner .swiper-slide {
    margin: 0vw 0.7142857143vw;
    width: calc(33.3333% - 1.4285714286vw);
  }
  .swiper_partner_link {
    border-radius: 2.1428571429vw;
  }
  .swiper_partner_link:hover .swiper_partner_cont_wrap .txt_title, .swiper_partner_link:focus .swiper_partner_cont_wrap .txt_title, .swiper_partner_link:active .swiper_partner_cont_wrap .txt_title {
    transform: scale(0.8) translateY(-0.7142857143vw);
  }
  .swiper_partner_cont_wrap {
    padding: 2.8571428571vw 0vw;
  }
  .swiper_partner_cont_wrap .txt_title {
    font-size: 1.7142857143vw;
  }
  .swiper_partner_cont_wrap .txt_title::after {
    margin-top: 1.4285714286vw;
    width: 14.6428571429vw;
    height: 14.6428571429vw;
  }
  .swiper_partner_cont_wrap .txt_cont {
    padding: 1.7857142857vw 0vw;
  }
  .swiper_partner_cont_wrap .txt_cont_title {
    font-size: 1.1428571429vw;
  }
  .swiper_partner_cont_wrap .txt_cont_inform {
    margin-top: 0.7142857143vw;
    font-size: 1vw;
  }
  .sec_notiboard {
    margin-top: 7.1428571429vw;
  }
  .sec_notiboard .sec_col {
    border-radius: 1.4285714286vw;
  }
  .sec_notiboard .sec_col.col_cs {
    margin-left: 1.4285714286vw;
    min-height: 14.2857142857vw;
  }
  .cms_bbs_wrap {
    gap: 2.8571428571vw;
    padding: 2.8571428571vw;
  }
  .cms_bbs_box_title {
    padding: 1.4285714286vw 0vw 2.1428571429vw;
  }
  .cms_bbs_box_title .title {
    font-size: 1.8571428571vw;
  }
  .cms_bbs_list {
    padding-top: 1.7857142857vw;
  }
  .cms_bbs_link {
    padding: 0.7142857143vw 0vw;
  }
  .cms_bbs_conts .conts_title {
    width: calc(100% - 5.7142857143vw);
  }
  .cms_bbs_conts .conts_title .txt {
    width: calc(100% - 3.5714285714vw);
    font-size: 1.1428571429vw;
  }
  .cms_bbs_conts .conts_title .label_new {
    width: 3.2142857143vw;
    height: 1.4285714286vw;
    border-radius: 0.2142857143vw;
    font-size: 0.8571428571vw;
  }
  .cms_bbs_conts .conts_date {
    width: 5.7142857143vw;
  }
  .cms_bbs_conts .conts_date .txt {
    font-size: 1.1428571429vw;
  }
  .cms_cs_wrap {
    padding: 2.1428571429vw 2.8571428571vw;
  }
  .cms_cs_title .title {
    font-size: 1.8571428571vw;
  }
  .cms_cs_title .title::before {
    margin-right: 1.4285714286vw;
    width: 4.2857142857vw;
    height: 4.2857142857vw;
  }
  .cms_cs_title .btn_wrap .btn_title_link {
    gap: 0.7142857143vw;
    font-size: 1.0714285714vw;
  }
  .cms_cs_title .btn_wrap .btn_title_link::before {
    width: 1.7857142857vw;
    height: 1.7857142857vw;
  }
  .cms_cs_body_conts.conts_noti_msg .btn_txt_call {
    font-size: 3.5714285714vw;
  }
  .cms_cs_body_conts.conts_noti_msg .txt_date {
    margin-top: 1.4285714286vw;
    padding-left: 2.1428571429vw;
  }
  .cms_cs_body_conts.conts_noti_msg .txt_date::before {
    width: 1.4285714286vw;
    height: 1.4285714286vw;
  }
  .cms_cs_body_conts.conts_noti_msg .txt_date .txt {
    font-size: 1.1428571429vw;
  }
  .cms_cs_body_conts.conts_noti_msg .txt_date .txt.txt_extra {
    margin-top: 0.7142857143vw;
  }
  .cms_cs_body_conts.conts_btn_area {
    padding-top: 2.8571428571vw;
  }
  .cms_cs_body_conts.conts_btn_area .conts_btn_list {
    gap: 1.4285714286vw;
  }
  .cms_cs_body_conts.conts_btn_area .conts_btn_link {
    border-radius: 2.1428571429vw;
  }
  .cms_cs_body_conts.conts_btn_area .conts_btn_link .txt {
    font-size: 1.2857142857vw;
  }
  .cms_cs_body_conts.conts_btn_area .conts_btn_link .txt::before {
    margin: 0 auto 1.4285714286vw;
    width: 4.2857142857vw;
    height: 4.2857142857vw;
  }
}