/* color */
/* ellipsis */
/* btn */
.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
  vertical-align: middle;
  line-height: 1;
  border: 1px solid #ccc;
  border-radius: 3px;
  background-color: #fff;
}
.btn:hover {
  border-color: #000;
}

/* layout */
body {
  width: 100%;
  color: #595959;
  font-family: "Noto Sans KR", "sans-serif", "Apple SD Gothic Neo", "AppleGothic", "Apple Gothic", "-apple-system", sans-serif;
  font-size: 14px;
  letter-spacing: -0.025em;
  line-height: 1.5;
  font-weight: 400;
}

#skipNav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}
#skipNav a {
  display: block;
  height: 1px;
  margin-bottom: -1px;
  overflow: hidden;
  text-align: center;
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  line-height: 1;
}
#skipNav a:focus {
  display: block;
  height: 42px;
  padding: 13px 0;
  background: none repeat 0 0 #7754bd;
}

/* header */
.header {
  border-bottom: 1px solid #e9e9e9;
}
.header__inner {
  margin: 0 auto;
  max-width: 1400px;
}
.header__top {
  border-bottom: 1px solid #e9e9e9;
}
.header__btm .header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__util__list {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 15px 0;
}
.header__util__li {
  border-left: 1px solid #e9e9e9;
}
.header__util__item {
  display: block;
  padding: 0 10px;
  font-size: 14px;
  line-height: 1.2;
}
.header .screen__size {
  display: flex;
  align-items: center;
  gap: 10px;
}
.header .screen__size-wrap {
  display: flex;
  align-items: center;
  gap: 10px;
}
.header .screen__size-wrap .size__detail__txt {
  font-size: 12px;
}
.header .screen__size-wrap .btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 1px solid #e9e9e9;
}
.header .screen__size-wrap .btn::before {
  display: block;
  color: #595959;
}
.header .screen__size-wrap .btn__minus::before {
  content: "-";
}
.header .screen__size-wrap .btn__plus::before {
  content: "+";
}
.header-menu {
  display: flex;
  justify-content: space-between;
  flex: 1 1 auto;
}
.header .logo-wrap {
  display: flex;
  align-items: center;
}
.header .logo__link {
  display: block;
  padding: 20px 0;
}
.header .logo__txt {
  font-style: italic;
}
.header .gnb-wrap {
  display: flex;
  align-items: center;
}
.header .gnb-wrap .btn__gnb__toggle {
  display: none;
}
.header .gnb--depth1 {
  display: flex;
}
.header .gnb__link {
  display: block;
  padding: 20px;
  font-size: 24px;
  font-weight: 500;
}
.header .gnb__link:hover {
  color: #7754bd;
}
.header__user {
  padding-left: 50px;
}
.header__user .user-menu__list {
  display: flex;
}
.header__user .user-menu__li {
  border-left: 1px solid #cccccc;
}
.header__user .user-menu__li:first-child {
  border-left: 0;
}
.header__user .user-menu__link {
  display: block;
  padding: 0 20px;
  font-size: 16px;
  line-height: 1;
  color: #000;
}

/* footer */
.footer {
  color: #fff;
  background-color: #282828;
}
.footer__inner {
  max-width: 1400px;
  margin: 0 auto;
}
.footer__top {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.footer__btm {
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-menu__list {
  display: flex;
  align-items: center;
}
.footer-menu__li {
  margin-left: 50px;
}
.footer-menu__li:first-child {
  margin-left: 0;
}
.footer-menu__link {
  display: block;
  padding: 20px 0;
  font-size: 16px;
}
.footer .logo__link {
  display: block;
  padding: 30px 0;
}
.footer .logo__txt {
  font-style: italic;
}

/* contents layout */
.contents__inner {
  margin: 0 auto;
  width: 100%;
  max-width: 1400px;
}
.contents__head {
  border-bottom: 1px solid #e9e9e9;
}
.contents__head .contents__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.contents__body {
  background-color: #f5f5f5;
}
.contents .page__title {
  padding: 12px 0;
}
.contents .page__title .title {
  font-size: 30px;
  color: #000;
}
.contents .page__location {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 16px;
}
.contents .page__location .lacation {
  display: flex;
  align-items: center;
  position: relative;
  gap: 5px;
}
.contents .page__location .lacation::before {
  content: ">";
  display: block;
}
.contents .page__location .lacation:first-child::before {
  display: none;
}

/* view__class */
.view__class {
  display: flex;
  gap: 20px;
  padding-bottom: 80px;
}
.view__class__item {
  width: 100%;
  border: 1px solid #e0e0e0;
  border-width: 0 1px 1px;
  background-color: #fff;
}
.view__class__side {
  max-width: 420px;
}
.view__class__info {
  padding: 25px;
  color: #fff;
  background-color: #595959;
}
.view__class__info__title .title {
  display: block;
  font-size: 20px;
  font-weight: 500;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
.view__class__info__desc {
  margin-top: 20px;
}
.view__class__info__desc .info__desc__li {
  display: flex;
  align-items: center;
  margin-top: 5px;
  font-size: 16px;
}
.view__class__info__desc .info__desc__li::before {
  content: "";
  display: block;
  margin-right: 5px;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #fff;
}
.view__class__info__desc .info__desc__li:first-child {
  margin-top: 0;
}
.view__class__info__desc .info__desc__li .title + .cont::before {
  content: ":";
  display: block;
  padding: 0 5px;
}
.view__class__info__desc .info__desc__li .cont {
  display: flex;
  align-items: center;
}
.view__class__info__desc .info__desc__date {
  display: flex;
  align-items: center;
  margin-top: 10px;
  color: #fcf100;
  font-size: 16px;
}
.view__class__info__toggle {
  display: none;
}
.view__class__info__chapter .info__chapter__li {
  font-size: 16px;
}
.view__class__info__chapter .info__chapter__title, .view__class__info__chapter .info__chapter__dep2 {
  border-bottom: 1px solid #e9e9e9;
}
.view__class__info__chapter .info__chapter__title .title {
  display: block;
  width: 100%;
  padding: 15px 20px;
}
.view__class__info__chapter .info__chapter__dep2 {
  padding-left: 20px;
}
.view__class__info__chapter .info__chapter__dep2__list {
  padding: 10px 0;
}
.view__class__info__chapter .info__chapter__dep2__link {
  display: flex;
  align-items: center;
  padding: 7px 5px;
}
.view__class__info__chapter .info__chapter__dep2__link::before {
  content: "";
  display: block;
  margin-right: 10px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 2px solid #cccccc;
}
.view__class__comp__head {
  padding: 15px 20px;
  border-bottom: 1px solid #e9e9e9;
}
.view__class__comp__head__title .title {
  font-size: 24px;
  color: #000;
}
.view__class__comp__body {
  padding-bottom: 100px;
}
.view__class__type {
  position: relative;
  padding: 20px;
}
.view__class__type.type__document .type__item__box {
  height: 450px;
  background-color: #f9f9f9;
}
.view__class__inform {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  position: absolute;
  z-index: 3;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.view__class__inform .title {
  display: flex;
  align-items: center;
  font-size: 18px;
  color: #595959;
}
.view__class__inform .title::before {
  content: "";
  display: block;
  margin-right: 5px;
  width: 16px;
  height: 21px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% auto;
  background-image: url(../images/ico_document.png);
}
.view__class__inform .btn__file {
  width: 36px;
  height: 36px;
}
.view__class__inform .btn__file::before {
  content: "";
  width: 14px;
  height: 16px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% auto;
  background-image: url(../images/ico_download.png);
}
.view__class__type__btn-wrap {
  display: flex;
  padding: 20px;
  border-top: 1px solid #e9e9e9;
  align-items: flex-start;
  justify-content: space-between;
}
.view__class__type__btn-wrap .btn__class__pass {
  padding: 10px 20px;
  min-width: 200px;
  height: 60px;
  font-size: 20px;
  border: none;
  color: #fff;
  background-color: #7754bd;
}
.view__class__type__btn-wrap .util__btn-wrap {
  display: flex;
  align-items: center;
  gap: 10px;
}
.view__class__type__btn-wrap .util__btn-wrap .btn {
  min-width: 160px;
  height: 40px;
  font-size: 16px;
  background-color: #cccccc;
}

/* popup */
.is-scroll-lock {
  overflow: hidden;
  -webkit-overflow-scrolling: initial;
}

.dimmer {
  width: 0;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background: rgba(0, 0, 0, 0.75);
  opacity: 0;
  transition: opacity 0.3s;
}
.dimmer.is-active {
  width: 100%;
  opacity: 1;
}

.popup {
  position: relative;
  width: 810px;
  z-index: 10;
  background-color: #fff;
  box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 0.3);
}
.popup-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1002;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.2s ease;
}
.popup-wrap[hidden] {
  display: none;
}
.popup-wrap.is-active {
  opacity: 1;
}
.popup-header {
  padding: 20px 25px;
  background-color: #2f2f2f;
  border-bottom: 1px solid #eee;
}
.popup__title {
  display: block;
  color: #fff;
  line-height: 1;
  font-size: 20px;
}
.popup-body {
  max-height: 660px;
  min-height: 200px;
  padding: 25px;
  overflow-y: auto;
  color: #595959;
}
.popup-body .btn__area {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 25px 0 0;
  gap: 10px;
}
.popup-body .btn__area .btn {
  padding: 10px 20px;
  min-width: 160px;
  height: 40px;
  font-size: 16px;
  line-height: 1;
  color: #fff;
  background-color: #595959;
}
.popup-body .btn__area .btn__primary {
  background-color: #7754bd;
}
.popup-close {
  display: block;
  position: absolute;
  top: 18px;
  right: 25px;
  line-height: 1;
}
.popup-close::before {
  content: "";
  display: block;
  width: 26px;
  height: 26px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% auto;
  background-image: url(../images/ico_pop_close.png);
}
.popup--alert {
  width: 440px;
}
.popup--alert .popup-body {
  min-height: 140px;
  padding: 30px 20px 20px;
  text-align: center;
}
.popup--alert .popup-body .alert__text {
  display: inline-flex;
  align-items: center;
  min-height: 90px;
  color: #727272;
}
.popup--alert .popup-body .btm__area {
  padding-top: 20px;
  justify-content: center;
}

.tbl {
  margin: 0 -1px;
}
.tbl table {
  width: 100%;
  margin: -1px 0;
  table-layout: fixed;
  border-collapse: collapse;
  border: 0;
  border-spacing: 0;
}
.tbl th,
.tbl td {
  padding: 7px 15px;
  height: 50px;
  text-align: left;
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
  color: #000;
  font-size: 16px;
}
.tbl tbody th {
  background-color: #f9f9f9;
}
.tbl tbody tr td:last-child {
  border-right: 0;
}

.form__box {
  display: flex;
  align-items: center;
  gap: 5px;
}
.form__input {
  height: 35px;
  padding: 0 16px;
  background-color: #fff;
  border: 1px solid #dbdbdb;
  color: #595959;
  font-size: 16px;
}
.form__input.full {
  width: 100%;
}

@media screen and (min-width: 641px) and (max-width: 1399px) {
  /* layout */
  body {
    font-size: 2.1875vw;
  }
  #skipNav a {
    font-size: 1.1428571429vw;
  }
  #skipNav a:focus {
    height: 3vw;
    padding: 0.9285714286vw 0vw;
  }
  /* header */
  .header__inner {
    max-width: 100%;
    padding: 0vw 1.0714285714vw;
  }
  .header__util__list {
    padding: 1.0714285714vw 0vw;
  }
  .header__util__item {
    padding: 0vw 0.7142857143vw;
    font-size: 1vw;
  }
  .header .screen__size {
    gap: 0.7142857143vw;
  }
  .header .screen__size-wrap {
    gap: 0.7142857143vw;
  }
  .header .screen__size-wrap .size__detail__txt {
    font-size: 0.8571428571vw;
  }
  .header .screen__size-wrap .btn {
    width: 1.7142857143vw;
    height: 1.7142857143vw;
  }
  .header .logo__link {
    padding: 1.4285714286vw 0vw;
  }
  .header .gnb__link {
    padding: 1.4285714286vw;
    font-size: 1.7142857143vw;
  }
  .header__user {
    padding-left: 3.5714285714vw;
  }
  .header__user .user-menu__link {
    padding: 0vw 1.4285714286vw;
    font-size: 1.1428571429vw;
  }
  /* footer */
  .footer__inner {
    max-width: 100%;
    padding: 0vw 1.0714285714vw;
  }
  .footer-menu__li {
    margin-left: 3.5714285714vw;
  }
  .footer-menu__li:first-child {
    margin-left: 0;
  }
  .footer-menu__link {
    padding: 1.4285714286vw 0vw;
    font-size: 1.1428571429vw;
  }
  .footer .logo__link {
    padding: 2.1428571429vw 0vw;
  }
  /* contents layout */
  .contents__inner {
    max-width: 100%;
  }
  .contents__head .contents__inner {
    padding: 0vw 1.0714285714vw;
  }
  .contents .page__title {
    padding: 0.8571428571vw 0vw;
  }
  .contents .page__title .title {
    font-size: 2.1428571429vw;
  }
  .contents .page__location {
    gap: 0.3571428571vw;
    font-size: 1.1428571429vw;
  }
  .contents .page__location .lacation {
    gap: 0.3571428571vw;
  }
  /* view__class */
  .view__class {
    gap: 1.4285714286vw;
    padding-bottom: 5.7142857143vw;
  }
  .view__class__side {
    max-width: 30vw;
  }
  .view__class__info {
    padding: 1.7857142857vw;
  }
  .view__class__info__title .title {
    font-size: 1.4285714286vw;
  }
  .view__class__info__desc {
    margin-top: 1.4285714286vw;
  }
  .view__class__info__desc .info__desc__li {
    margin-top: 0.3571428571vw;
    font-size: 1.1428571429vw;
  }
  .view__class__info__desc .info__desc__li::before {
    margin-right: 0.3571428571vw;
    width: 0.2857142857vw;
    height: 0.2857142857vw;
  }
  .view__class__info__desc .info__desc__li .title + .cont::before {
    padding: 0vw 0.3571428571vw;
  }
  .view__class__info__desc .info__desc__date {
    margin-top: 0.7142857143vw;
    font-size: 1.1428571429vw;
  }
  .view__class__info__chapter .info__chapter__li {
    font-size: 1.1428571429vw;
  }
  .view__class__info__chapter .info__chapter__title .title {
    padding: 1.0714285714vw 1.4285714286vw;
  }
  .view__class__info__chapter .info__chapter__dep2 {
    padding-left: 1.4285714286vw;
  }
  .view__class__info__chapter .info__chapter__dep2__list {
    padding: 0.7142857143vw 0vw;
  }
  .view__class__info__chapter .info__chapter__dep2__link {
    padding: 0.5vw 0.3571428571vw;
  }
  .view__class__info__chapter .info__chapter__dep2__link::before {
    margin-right: 1.4285714286vw;
    width: 0.7142857143vw;
    height: 0.7142857143vw;
  }
  .view__class__comp__head {
    padding: 1.0714285714vw 1.4285714286vw;
  }
  .view__class__comp__head__title .title {
    font-size: 1.7142857143vw;
  }
  .view__class__comp__body {
    padding-bottom: 7.1428571429vw;
  }
  .view__class__type {
    padding: 1.4285714286vw;
  }
  .view__class__type.type__document .type__item__box {
    height: 32.1428571429vw;
  }
  .view__class__inform {
    gap: 1.0714285714vw;
  }
  .view__class__inform .title {
    font-size: 1.2857142857vw;
  }
  .view__class__inform .title::before {
    margin-right: 0.3571428571vw;
    width: 1.1428571429vw;
    height: 1.5vw;
  }
  .view__class__inform .btn__file {
    width: 2.5714285714vw;
    height: 2.5714285714vw;
  }
  .view__class__inform .btn__file::before {
    width: 1vw;
    height: 1.1428571429vw;
  }
  .view__class__type__btn-wrap {
    padding: 1.4285714286vw;
  }
  .view__class__type__btn-wrap .btn__class__pass {
    padding: 0.7142857143vw 1.4285714286vw;
    min-width: 14.2857142857vw;
    height: 4.2857142857vw;
    font-size: 1.4285714286vw;
  }
  .view__class__type__btn-wrap .util__btn-wrap {
    gap: 0.7142857143vw;
  }
  .view__class__type__btn-wrap .util__btn-wrap .btn {
    min-width: 11.4285714286vw;
    height: 2.8571428571vw;
    font-size: 1.1428571429vw;
  }
  /* popup */
  .popup {
    width: 57.8571428571vw;
  }
  .popup-header {
    padding: 1.4285714286vw 1.7857142857vw;
  }
  .popup__title {
    font-size: 1.4285714286vw;
  }
  .popup-body {
    max-height: 47.1428571429vw;
    min-height: 14.2857142857vw;
    padding: 1.7857142857vw;
  }
  .popup-body .btn__area {
    padding: 1.7857142857vw 0vw 0vw;
    gap: 0.7142857143vw;
  }
  .popup-body .btn__area .btn {
    padding: 0.7142857143vw 1.4285714286vw;
    min-width: 11.4285714286vw;
    height: 2.8571428571vw;
    font-size: 1.1428571429vw;
  }
  .popup-close {
    top: 1.2857142857vw;
    right: 1.7857142857vw;
  }
  .popup-close::before {
    width: 1.8571428571vw;
    height: 1.8571428571vw;
  }
  .popup--alert {
    width: 31.4285714286vw;
  }
  .popup--alert .popup-body {
    min-height: 10vw;
    padding: 2.1428571429vw 1.4285714286vw 1.4285714286vw;
  }
  .popup--alert .popup-body .alert__text {
    min-height: 6.4285714286vw;
  }
  .popup--alert .popup-body .btm__area {
    padding-top: 1.4285714286vw;
  }
  .tbl th,
  .tbl td {
    padding: 0.5vw 1.0714285714vw;
    height: 3.5714285714vw;
    font-size: 1.1428571429vw;
  }
  .form__box {
    gap: 0.3571428571vw;
  }
  .form__input {
    height: 2.5vw;
    padding: 0vw 1.1428571429vw;
    font-size: 1.1428571429vw;
  }
}
@media screen and (max-width: 640px) {
  /* layout */
  body {
    font-size: 2.8125vw;
  }
  #skipNav a {
    font-size: 2.5vw;
  }
  #skipNav a:focus {
    height: 6.5625vw;
    padding: 2.03125vw 0vw;
  }
  /* header */
  .header__inner {
    padding: 3.125vw;
  }
  .header__top {
    display: none;
  }
  .header-menu {
    flex-direction: row-reverse;
    justify-content: flex-end;
    gap: 3.125vw;
  }
  .header .logo__link {
    padding: 1.5625vw 0vw;
  }
  .header .gnb-wrap .btn__gnb__toggle {
    display: block;
    position: relative;
    width: 6.25vw;
    height: 5.46875vw;
    border: 3px solid #595959;
    border-width: 3px 0;
  }
  .header .gnb-wrap .btn__gnb__toggle::before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -2px;
    width: 100%;
    height: 3px;
    background-color: #595959;
  }
  .header .gnb--depth1 {
    display: none;
  }
  .header .gnb__link {
    padding: 3.125vw;
    font-size: 3.125vw;
  }
  .header__user {
    display: none;
  }
  /* footer */
  .footer__inner {
    padding: 2.34375vw;
  }
  .footer-menu__list {
    flex-wrap: wrap;
    gap: 3.125vw 6.25vw;
  }
  .footer-menu__li {
    margin-left: 0;
  }
  .footer-menu__link {
    padding: 0vw 0.78125vw;
    font-size: 3.4375vw;
  }
  .footer .logo__link {
    padding: 3.125vw 0vw;
  }
  /* contents layout */
  .contents__inner {
    max-width: 100%;
  }
  .contents__head .contents__inner {
    padding: 0vw 2.34375vw;
  }
  .contents .page__title {
    padding: 1.875vw 0vw;
  }
  .contents .page__title .title {
    font-size: 4.6875vw;
  }
  .contents .page__location {
    display: none;
  }
  /* view__class */
  .view__class {
    flex-direction: column;
    gap: 1.5625vw;
    padding-bottom: 0vw;
  }
  .view__class__side {
    max-width: 100%;
  }
  .view__class__info {
    padding: 3.90625vw;
  }
  .view__class__info__title .title {
    font-size: 3.75vw;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
  }
  .view__class__info__desc {
    display: none;
  }
  .view__class__info__toggle {
    display: flex;
    justify-content: flex-end;
    padding-top: 3.90625vw;
  }
  .view__class__info__toggle .btn {
    padding: 0vw 3.125vw;
    height: 7.03125vw;
    border-radius: 7.8125vw;
    color: #000;
    font-size: 2.8125vw;
    font-weight: 500;
  }
  .view__class__info__toggle .btn .toggle__txt {
    padding: 0vw 0.78125vw;
  }
  .view__class__info__toggle .btn::after {
    content: "+";
  }
  .view__class__info__toggle .btn.on::after {
    content: "-";
  }
  .view__class__info__chapter {
    display: none;
  }
  .view__class__info__chapter .info__chapter__list {
    max-height: 46.875vw;
    overflow-y: auto;
  }
  .view__class__info__chapter .info__chapter__li {
    font-size: 2.5vw;
  }
  .view__class__info__chapter .info__chapter__title .title {
    padding: 3.125vw 3.90625vw;
  }
  .view__class__info__chapter .info__chapter__dep2 {
    padding-left: 4.6875vw;
  }
  .view__class__info__chapter .info__chapter__dep2__list {
    padding: 2.34375vw 0vw;
  }
  .view__class__info__chapter .info__chapter__dep2__link {
    padding: 1.5625vw;
  }
  .view__class__info__chapter .info__chapter__dep2__link::before {
    margin-right: 3.125vw;
    width: 1.5625vw;
    height: 1.5625vw;
  }
  .view__class__comp__head {
    padding: 2.34375vw 3.125vw;
  }
  .view__class__comp__head__title .title {
    font-size: 3.75vw;
  }
  .view__class__comp__body {
    padding-bottom: 15.625vw;
  }
  .view__class__type {
    padding: 3.125vw;
  }
  .view__class__type.type__document .type__item__box {
    height: 62.5vw;
  }
  .view__class__inform {
    gap: 1.5625vw;
  }
  .view__class__inform .title {
    font-size: 3.4375vw;
  }
  .view__class__inform .title::before {
    margin-right: 1.5625vw;
    width: 2.5vw;
    height: 3.28125vw;
  }
  .view__class__inform .btn__file {
    width: 5.625vw;
    height: 5.625vw;
  }
  .view__class__inform .btn__file::before {
    width: 2.1875vw;
    height: 2.5vw;
  }
  .view__class__type__btn-wrap {
    flex-direction: column;
    gap: 3.125vw;
    padding: 3.125vw;
  }
  .view__class__type__btn-wrap .btn__class__pass {
    min-width: 100%;
    height: 10.9375vw;
    font-size: 3.125vw;
  }
  .view__class__type__btn-wrap .util__btn-wrap {
    gap: 3.125vw;
    width: 100%;
    justify-content: flex-end;
  }
  .view__class__type__btn-wrap .util__btn-wrap .btn {
    min-width: 25vw;
    height: 10.9375vw;
    font-size: 2.5vw;
  }
  /* popup */
  .popup--default {
    width: 100%;
    height: 100%;
  }
  .popup--default_inner {
    height: 100%;
  }
  .popup-header {
    display: flex;
    align-items: center;
    padding: 1.40625vw 9.375vw 1.40625vw 3.125vw;
    height: 12.5vw;
  }
  .popup__title {
    font-size: 4.0625vw;
  }
  .popup-body {
    min-height: unset;
    max-height: unset;
    height: calc(100% - 12.5vw);
    padding: 4.6875vw 3.125vw 0vw;
  }
  .popup-body .btn__area {
    gap: 3.125vw;
    padding: 7.8125vw 0vw 0vw;
  }
  .popup-body .btn__area .btn {
    flex: 1;
    padding: 1.5625vw 3.125vw;
    min-width: 22.65625vw;
    height: 9.375vw;
    font-size: 3.4375vw;
  }
  .popup-close {
    top: 3.90625vw;
    right: 3.125vw;
  }
  .popup-close::before {
    width: 4.84375vw;
    height: 4.84375vw;
  }
  .popup--alert {
    width: 93.75vw;
  }
  .popup--alert .popup-body {
    min-height: 31.25vw;
    padding: 4.6875vw 3.125vw 3.125vw;
  }
  .popup--alert .popup-body .alert__text {
    min-height: 12.96875vw;
  }
  .popup--alert .popup-body .btm__area {
    gap: 3.125vw;
    padding-top: 4.6875vw;
  }
  .tbl th,
  .tbl td {
    padding: 3.125vw;
    height: 12.5vw;
    font-size: 3.75vw;
  }
  .form__box {
    gap: 1.5625vw;
  }
  .form__input {
    height: 9.375vw;
    padding: 2.34375vw;
    font-size: 3.4375vw;
  }
}